.logo {
  display: block;
  color: $primary-color;
  text-decoration: none;
  margin: 0 auto;
  margin-top: -20px;
  font-family: $third-font-family;
  font-size: 0;
  text-transform: uppercase;
  @include hover-effects;

  &--footer {
    color: #ffffff;
  }
}

.logo__img {
  display: block;
  margin: 0 auto;
  text-align: center;
}

@media (min-width: 500px) {
  .logo {
    margin-left: 0;
    width: 190px;
  }
}
