.page-header {
  position: relative;
  background-color: #ffffff;
}

.page-header__wrapper-top {
  background-color: #e8ebf3;
  padding-bottom: 5px;
  text-align: right;
}

.page-header__wrapper {
  display: flex;
  padding: 10px 0;
  padding-bottom: 60px;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}
.page-header__input {
  padding: 10px 10px;
  padding-right: 35px;
  width: 270px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #dedede;
  border-radius: 3px;

  &:hover {
    border: 1px solid #eeeeee;
  }
}

.page-header__search {
  position: relative;
  display: none;
  vertical-align: middle;
  margin: 0 auto;
  margin-left: auto;
  margin: 0 10px;
  margin-top: 12px;
  margin-bottom: 12px;
  width: 100%;

  &::after {
    top: 15px;
    right: 5px;

    @include set-icon(url("../img/css_sprites.png"), 30px, 30px);
    background-position: -87px -40px;
  }
}

.page-header__phone,
.page-header__email {
  display: block;
  margin-top: 10px;
  margin: 0 auto;
  padding-left: 60px;

  &:hover {
    text-decoration: none;
  }
}

.page-header__phone {
  position: relative;

  &::after {
    top: 50%;
    transform: translateY(-50%);
    left: 10px;

    @include set-icon(url("../img/phone.png"), 50px, 50px);
  }

  &:hover,
  &:active {
    text-decoration: none;
  }
}

.page-header__phone-number {
  display: block;
  color: #464646;
  font-weight: 600;
  font-family: $primary-font-family;

  &:hover {
    opacity: 0.8;
  }
}

.page-header__phone-text {
  display: block;
  cursor: default;
  color: #464646;
}

.page-header__email {
  position: relative;

  &::after {
    top: 50%;
    transform: translateY(-50%);
    left: 10px;

    @include set-icon(url("../img/email.png"), 50px, 50px);
  }
}


@media (min-width: 700px) {
  .page-header__phone,
  .page-header__email {
    width: 30%;
  }
  .page-header__search {
    display: block;
  }
}

@media (min-width: 650px) {
  .page-header__search {
    width: 50%;
  }
}

@media (min-width: $width-lg-device) {
  .page-header__search {
    width: 270px;
  }
  .page-header__phone,
  .page-header__email {
    width: auto;
  }
  .page-header__email {
    margin-left: 0;
  }
  .page-header__phone {
    margin-right: 0;
  }
  .page-header__phone {
    border-right: 1px solid #e6e6e6;
    padding-right: 20px;
  }
}
